fastapi
uvicorn[standard]
audiocraft
TTS
torch>=2.1.0
torchaudio
librosa
soundfile
pedalboard
pydub
numpy<2.0.0
scipy
python-multipart
requests
mutagen
python-dotenv
openai
rvc-python
pyloudnorm
diffusers
transformers
accelerate
Pillow
huggingface_hub
scikit-learn
