fastapi
uvicorn[standard]
gunicorn


audiocraft==1.3.0
TTS==0.22.0

librosa
soundfile
pedalboard
pydub

numpy<2.0
scipy
scikit-learn

python-multipart
requests
mutagen
python-dotenv
openai

rvc-python
pyloudnorm

diffusers
transformers
accelerate
huggingface_hub

Pillow